body {
    background-color: red;
}
#memory-game {
    background-color: red;
    width: 2000px;
    height: 1000px;
    border: 2px solid black;
    padding: 0px;
    font-size: 0px;
    margin: auto;
}

.picture-holder {
    display: inline-block;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 0px;
}