html {
    font-family: 'Rubik', serif;
    background-color: rgb(255,37,39);
}

body {
    height: 100vh
}

#container {
    position: absolute;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 15px;
}

#button {
    position: absolute;
    top: 600px;
    border: 1px rgb(255,37,39) solid;
    background: white;
    color: black;
    font-size: 2em;
    padding: 20px;
}

#players {
    display: flex;
    position: absolute;
    width: 90%;
    top: 20px;
    justify-content: space-between;
}

.beurtSpeler {
    background: white;
    color: black;
    border: solid 1px black;
    font-size: 1.5em;
    padding: 20px;
}

.punten {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background: white;
    padding: 20px;
    border: solid 1px black;
}

