body {
    text-align: center;
    background-color: red;
}

div#top-bar{
    margin: auto;
    width: 1250px;
    height: 50px;
    border: 1px solid black;
}

div#beurt {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    background-color: white;
    width: 200px;
    height: 50px;
}

div#speler1 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    width: 200px;
    height: 50px;
}

div#speler2 {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    width: 200px;
    height: 50px;
}

h3 {
    margin: fill;
}

div.picture-holder {
    margin: auto;
    box-sizing: border-box;
    height: 620px;
    width: 1250px;
    border: solid 3px black;
}