
html {
    font-family: 'Rubik', serif;
    background-color: rgb(255,37,39);
}

body {
    height: 100vh;
}

div#container {
    position: absolute;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 15px;
}

.overlay {
    background: url("IMG/logo.png");
    border: 1px black solid;
}

div#picture-holders {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

button#button {
    position: absolute;
    top: 750px;
    border: 1px black solid;
    background: white;
    color: purple;
    font-size: 2em;
    padding: 20px;
}

div#players {
    display: flex;
    position: absolute;
    width: 90%;
    top: 20px;
    justify-content: space-between;
}

div.beurtSpeler {
    background: white;
    color: black;
    border: solid 1px black;
    font-size: 1.5em;
    padding: 20px;
}

div.punten {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background: white;
    padding: 20px;
    border: solid 1px black;
}

